---
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header href='localhost:4321' name="DevOneScoop"></Header>
		<Hero></Hero>	
	</main>
</Layout>
