---
interface Props {
	name: string;
	href: string;
}

const { name, href } = Astro.props;
---

<header class="flex justify-center px-32">
	<div class="flex justify-between items-center">

		<a href={href}>
			<div class="flex justify-center items-center gap-4 p-4">
				<svg width="37" height="55" viewBox="0 0 37 55" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M18.51 18.8576H6.08001C5.45001 18.8576 5.01001 19.4676 5.21001 20.0676L16.13 53.2576C16.89 55.5576 20.14 55.5576 20.89 53.2576L31.81 20.0676C32.01 19.4676 31.56 18.8576 30.94 18.8576H18.51Z" 
						fill="#FFCC33"/>
					<path d="M18.51 0.0175781C10.03 0.0175781 3.15002 6.89758 3.15002 15.3776C3.15002 17.2576 3.51002 19.0576 4.13002 20.7276H32.89C33.51 19.0576 33.87 17.2676 33.87 15.3776C33.87 6.89758 26.99 0.0175781 18.51 0.0175781Z" 
						fill="#66CCFF"/>
					<path d="M33.05 16.7576H3.96C1.77295 16.7576 0 18.5305 0 20.7176C0 22.9046 1.77295 24.6776 3.96 24.6776H33.05C35.237 24.6776 37.01 22.9046 37.01 20.7176C37.01 18.5305 35.237 16.7576 33.05 16.7576Z" 
						fill="#66CCFF"/>
					<path d="M12.5034 6.83025C13.9388 5.91754 14.8358 4.75827 14.5069 4.24095C14.178 3.72363 12.7477 4.04417 11.3122 4.95688C9.87679 5.8696 8.97979 7.02887 9.30872 7.54618C9.63765 8.0635 11.068 7.74297 12.5034 6.83025Z" 
						fill="#F4F4F4"/>
				</svg>
				<h2 class="text-3xl font-semibold">
					{name}
				</h2>
			</div>
		</a>
		
		<div>
			<a href="/blog">blog</a>
			<a href="/profile">profile</a>
		</div>
	
	</div>
</header>
