---
---

<section class="flex justify-center p-32">
  <div class="flex justify-between items-center gap-10 px-[100px] w-[1144px]">
    <div class="flex flex-col gap-4 ">
      <h2 class="text-4xl font-semibold min-w-[240px] whitespace-pre-wrap">달달한 개발 지식
한 스쿱</h2>
      <span class="text-xl whitespace-pre-wrap">조금 쉽게 써본
달콤살벌 개발 이야기</span>
      <button class="text-xl text-white bg-malibu px-8 py-2 w-[200px]">
        가볍게 읽어보기
      </button>
    </div>
    <div class="min-w-[300px]">
      <img src="/hero-dev.png" alt="hero image">
    </div>
  </div>

</section>

